<div>
  <table class="table" style="text-align: center; vertical-align: middle">
    <!-- Header Row -->
    <tr>
      <th>Symbols</th>
      <th>Odds</th>
      <th>Payout</th>
    </tr>

    <!-- Single Cherry -->
    <tr>
      <td>
        <img src="/src/assets/icons/Stylized_Cherry.png" style="height: 8em" />
      </td>
      <td>
        <p class="table-text" id="cherry_set_odds"></p> %
      </td>
      <td>
        <p class="table-text" id="cherry_value"></p> cr.
      </td>
    </tr>

    <!-- Three Cherries -->
    <tr>
      <td>
        <img src="/src/assets/icons/Stylized_Cherry.png" style="height: 8em" />
        <img src="/src/assets/icons/Stylized_Cherry.png" style="height: 8em" />
        <img src="/src/assets/icons/Stylized_Cherry.png" style="height: 8em" />
      </td>
      <td>
        <p class="table-text" id="cherries_set_odds"></p> %
      </td>
      <td>
        <p class="table-text" id="cherry_set_value"></p> cr.
      </td>
    </tr>

    <!-- Three Bars -->
    <tr>
      <td>
        <img src="/src/assets/icons/Stylized_BAR.png" style="height: 8em" />
        <img src="/src/assets/icons/Stylized_BAR.png" style="height: 8em" />
        <img src="/src/assets/icons/Stylized_BAR.png" style="height: 8em" />
      </td>
      <td>
        <p class="table-text" id="bars_set_odds"></p> %
      </td>
      <td>
        <p class="table-text" id="bar_set_value"></p> cr.
      </td>
    </tr>

    <!-- Three Chips -->
    <tr>
      <td>
        <img src="/src/assets/icons/Stylized_Chips.png" style="height: 8em" />
        <img src="/src/assets/icons/Stylized_Chips.png" style="height: 8em" />
        <img src="/src/assets/icons/Stylized_Chips.png" style="height: 8em" />
      </td>
      <td>
        <p class="table-text" id="chips_set_odds"></p> %
      </td>
      <td>
        <p class="table-text" id="chips_set_value"></p> cr.
      </td>
    </tr>

    <!-- Three GEMS -->
    <tr>
      <td>
        <img src="/src/assets/icons/Stylized_GEM.png" style="height: 8em" />
        <img src="/src/assets/icons/Stylized_GEM.png" style="height: 8em" />
        <img src="/src/assets/icons/Stylized_GEM.png" style="height: 8em" />
      </td>
      <td>
        <p class="table-text" id="gems_set_odds"></p> %
      </td>
      <td>
        <p class="table-text" id="gem_set_value"></p> cr.
      </td>
    </tr>

    <!-- Three 7s -->
    <tr>
      <td>
        <img src="/src/assets/icons/Stylized_7.png" style="height: 8em" />
        <img src="/src/assets/icons/Stylized_7.png" style="height: 8em" />
        <img src="/src/assets/icons/Stylized_7.png" style="height: 8em" />
      </td>
      <td>
        <p class="table-text" id="seven_set_odds"></p> %
      </td>
      <td>
        <p class="table-text" id="seven_set_value"></p> cr.
      </td>
    </tr>
  </table>
</div>