<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Hamburger Menu Button for small screens -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#slots-navbar"
      aria-controls="slots-navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Main Navbar Content -->
    <div class="collapse navbar-collapse" id="slots-navbar">
      <!-- Logo/Title  -->
      <a id="navbar-brand" class="navbar-brand" href="home.html">CS-471 Slots Game</a>

      <!-- Left-Aligned Links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a id="nav-home" class="nav-link active" aria-current="page" href="home.html">Home</a>
        </li>
        <li class="nav-item">
          <a id="nav-credits" class="nav-link" href="credits.html">Add Credits</a>
        </li>
      </ul>

      <!-- Right-Aligned Links -->
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a id="nav-user" class="nav-link active" aria-current="page" href="user.html"
              >Welcome,&nbsp;<span id="name"></span
            ></a>
          </li>
          <li class="nav-item">
            <a id="nav-logout" class="nav-link active" aria-current="page" href="logout.html"
              >Logout</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
